.containerUn{
    width: 350px;
    height: 100%;
    text-align: center; 
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(52, 100, 100);
}

.containerUn img{
    width: 70%;
}

.containerUn .row{
    padding: 10px;
    color: aliceblue;
}

button{
    margin: 5px;
    border-radius: 15px;
    border: none;
}

/* .container .navitem ul li a{
    text-decoration: none;
    color: aliceblue;
}

.container .navitem ul{
    list-style-type: none;
    padding: 0; 
    margin: 0; 
} */